<div class="page-tabs">

    <div class="header row">
        {% if arg[0] %}
        <h1>{{ arg[0] }}</h1>
        {% endif %}
    </div>

    <ul class="nav nav-pills" id="myTab" role="tablist">
        {% for label in labels %}
        <li class="nav-item" role="presentation">
            <button class="nav-link {{ 'active' if loop.index0 == 0 }}" id="page-tab-{{loop.index}}" data-bs-toggle="tab"
                data-bs-target="#page-{{loop.index}}" type="button" role="tab" aria-controls="page-{{loop.index}}"
                aria-selected="true">{{label}}</button>
        </li>
        {% endfor %}
    </ul>

    <div class="tab-content" id="myTabContent">
        {% for content in contents %}
        <div class="tab-pane fade show {{ 'active' if loop.index0 == 0 }}" id="page-{{loop.index}}" role="tabpanel"
            aria-labelledby="page-tab-{{loop.index}}">
            <div class="row align-items-center">
                {% if svgs[loop.index0] is defined %}
                <div class="col-auto d-none d-md-block position-relative">
                    <div class="svg-container svg-{{loop.index}}">
                        {{ svgs[loop.index0] | safe }}
                    </div>
                    <div class="overlay position-absolute top-0 start-0 w-100 h-100"></div>
                </div>
                {% endif %}
                {% if images[loop.index0] is defined %}
                <div class="col-auto d-none d-md-block position-relative">
                    {% if '.svg' in images[loop.index0] %}
                    <object type="image/svg+xml" data="{{ images[loop.index0] }}"
                        class="svg-container svg-{{loop.index}}"></object>
                    {%else%}
                    <img src="{{ images[loop.index0] }}" alt="{{labels[loop.index0]}}">
                    {% endif %}
                    <div class="overlay position-absolute top-0 start-0 w-100 h-100"></div>
                </div>
                {% endif %}
                <div class="content col">{{content}}</div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>