section {
    padding-top: 1px !important;
}

/* header and nav */

.bd-header {
    background: #075767 !important;
}

.bd-header p {
    color: #ffffff !important;
}

.bd-header .nav-link {
    color: #ffffff !important;
}

.bd-header .search-button {
    color: #ffffff !important;
}

.bd-header .theme-switch {
    color: #ffffff !important;
}

.navbar-brand {
    text-decoration: none !important;
}

.bd-header .navbar-nav {
    padding-right: 32px;
}

.bd-sub-navbar {
    z-index: 102;
    position: fixed;
    top: 64px;
    justify-content: center;
    width: 100%;
    height: 48px;
    background: rgb(1 86 103 / 75%);
}

.bd-sub-navigation ul {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-end;
    padding-right: 16px;
}

.bd-sub-navigation .nav-link {
    color: #ffffff !important;
    margin-left: 0px !important;
    border-left: 0px !important;
}

.bd-sub-navigation .onthispage {
    display: none;
}

.bd-sub-navigation .toc-h3 {
    display: none;
}

/* .de-teaser-grid {
    padding-left: 0px;
    padding-right: 0px;
}

.de-teaser-grid .sd-card {
    color: white;
    background-color: #075767;
}

.de-teaser-grid p {
    color: white;
}

.de-teaser-grid .sd-material-icon {
    font-size: 24px;
}

.de-teaser-grid .sd-card-title {
    font-size: 18px;
} */

/* directives */

.html-inpage-nav .items{
    height: 48px;
}

/* TODO - Alle Backgroundbilder in button anpassen und verkleinern */
.html-inpage-nav .background{
    background-image: url("../images/button/2.jpg");
    border-radius: 5px;
}

.html-inpage-nav .overlay{
    background: rgb(1 86 103 / 75%);
    border-radius: 5px;
}

.html-inpage-nav .title{
    color: #ffffff;
}

/* index*/

#hidden > h1 {
    display: none;
}



/* page */

h1 {
    font-size: 32px !important;
}

